<html>
    <head><title>Display Metrics</title></head>
    <body>
        <h1>Display Metrics</h1>
        <table>
            <tr><th>Density DPI</th><td>{{ densityDpi }}</td></tr>
            <tr><th>Density xDPI</th><td>{{ xdpi }}</td></tr>
            <tr><th>Density yDPI</th><td>{{ ydpi }}</td></tr>
            <tr><th>Dimensions</th><td>{{ widthPixels }} x {{ heightPixels }}</td></tr>
        </table>
    </body>
</html>