<html>
<head><title>Picasso Diagnostics</title></head>
<body>
<h1>Picasso Diagnostics</h1>
<table>
<tr><th style="text-align:right; padding-right:16px;">Timestamp</th><td>{{timeStamp}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Average Download Size</th><td>{{averageDownloadSize}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Average Original Bitmap Size</th><td>{{averageOriginalBitmapSize}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Average Transformed Bitmap Size</th><td>{{averageTransformedBitmapSize}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Cache Hits</th><td>{{cacheHits}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Cache Misses</th><td>{{cacheMisses}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Download Count</th><td>{{downloadCount}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Max Size</th><td>{{maxSize}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Original Bitmap Count</th><td>{{originalBitmapCount}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Size</th><td>{{size}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Total Download Size</th><td>{{totalDownloadSize}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Total Original Bitmap Size</th><td>{{totalOriginalBitmapSize}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Total Transformed Bitmap Size</th><td>{{totalTransformedBitmapSize}}</td></tr>
<tr><th style="text-align:right; padding-right:16px;">Transformed Bitmap Count</th><td>{{transformedBitmapCount}}</td></tr>
</table>
<hr/>
<a href="/stop">Stop Service</a>
</body>
</html>
